<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Volvox - INDEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png?v={version}(version=${@volvox.version})}" />

    <!-- =========== -->
    <!-- Lib Scripts -->
    <!-- =========== -->
    <script th:replace="dependencies::axios"></script>
    <script th:replace="dependencies::smartclient"></script>
</head>

<body>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        isc.VLayout.create({
            width: '100%',
            height: '100%',
            layoutMargin: 0,
            defaultLayoutAlign: 'center',
            defaultResizeBars: 'marked',

            showResizeBar: true,

            members: [
                //======================================================================
                // Header
                isc.HLayout.create({
                    autoDraw: false,
                    border: '1px solid blue',

                    height: 100,
                    layoutMargin: 0,
                    defaultLayoutAlign: 'center',
                    defaultResizeBars: 'marked',
                    members: [
                        isc.Label.create({
                            height: 30,
                            padding: 10,
                            align: "center",
                            valign: "center",
                            wrap: false,
                            // icon: "icons/16/approved.png",
                            showEdges: true,
                            contents: "<i>Header</i> for release"
                        })
                    ]
                }),
                //======================================================================
                // Main contents
                isc.HLayout.create({
                    autoDraw: true,
                    border: '1px solid red',

                    height: '100%',
                    defaultLayoutAlign: 'center',
                    defaultResizeBars: 'marked',
                    layoutMargin: 0,
                    members: [
                        //======================================================================
                        // Left - Navigation Pane
                        isc.ListGrid.create({
                            ID: "countryList",
                            alternateRecordStyles: true,
                            autoFetchData: true,
                            canGroupBy: true,
                            cellHeight: 50,
                            height: '100%',
                            groupByField: 'group',
                            groupStartOpen: 'none',
                            // groupIcon: null,
                            // groupIndentSize: 0,
                            // groupLeadingIndent: 0,
                            selectionType: 'none',
                            showGroupTitleColumn: false,
                            showHeader: false,
                            width: 500,
                            dataSource: isc.DataSource.create({
                                ID: "menuDS",
                                dataFormat: 'json',
                                dataURL: /*[[ @{/dashboard/menus} ]]*/'/dashboard/menus',
                                fields: [
                                    { name: 'group', title: 'Group', type: 'text', hidden: true },
                                    { name: 'name', title: 'Name', type: 'text', hidden: false },
                                    { name: 'url', title: 'URL', type: 'text', hidden: true },
                                ],
                            }),
                            // fields: [
                            //     { name: 'group', title: 'Group', type: 'text', hidden: true },
                            //     { name: 'name', title: 'Name', type: 'text', hidden: false },
                            //     { name: 'url', title: 'URL', type: 'text', hidden: true },
                            // ],
                            // data: [
                            //     { group: 'Sample', name: 'Selenide Sample', url: 'http://en.wikipedia.org/wiki/United_states' },
                            //     { group: 'System', name: 'JVM Monitor', url: 'http://en.wikipedia.org/wiki/China' },
                            //     { group: 'System', name: 'Logging', url: 'http://en.wikipedia.org/wiki/Japan' }
                            // ]
                        }),

                        //======================================================================
                        // Right - Dashboard Panels
                        isc.VLayout.create({
                            width: '100%',
                            height: '100%',
                            layoutMargin: 0,
                            defaultLayoutAlign: 'center',
                            defaultResizeBars: 'marked',

                            showResizeBar: true,

                            members: [
                            ]
                        })
                    ]
                })
            ]
        });

        /*]]>*/
    </script>
</body>

</html>
