<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Volvox - INDEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png?v={version}(version=${@volvox.version})}" />

    <!-- =========== -->
    <!-- Lib Scripts -->
    <!-- =========== -->
    <script th:replace="dependencies::axios"></script>
    <script th:replace="dependencies::smartclient"></script>
</head>

<body>
    <!-- =========== -->
    <!-- App Scripts -->
    <!-- =========== -->
    <script th:src="@{/app/header/SettingsWindow.js?v={version}(version=${@volvox.version})}"></script>
    <script th:src="@{/app/header/Header.js?v={version}(version=${@volvox.version})}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        isc.VLayout.create({
            alwaysShowScrollbars: false,
            width: '100%',
            height: '100%',
            layoutMargin: 0,
            defaultLayoutAlign: 'center',
            defaultResizeBars: 'marked',

            showResizeBar: false,
            canDragResize: false,
            leaveScrollbarGap: true,

            members: [
                volvox.VolvoxHeader.create({
                    ID: 'dashboard-header',
                }),
                //======================================================================
                // Main contents
                isc.HLayout.create({
                    autoDraw: false,
                    border: '1px solid red',

                    height: '100%',
                    defaultLayoutAlign: 'center',
                    defaultResizeBars: 'marked',
                    layoutMargin: 0,
                    members: [
                        //======================================================================
                        // Left - Navigation Pane
                        isc.ListGrid.create({
                            autoDraw: false,
                            ID: "countryList",
                            alternateRecordStyles: true,
                            autoFetchData: true,
                            canGroupBy: true,
                            cellHeight: 50,
                            height: '100%',
                            groupByField: 'group',
                            groupStartOpen: 'none',
                            // groupIcon: null,
                            // groupIndentSize: 0,
                            // groupLeadingIndent: 0,
                            selectionType: 'none',
                            showGroupTitleColumn: false,
                            showHeader: false,
                            minWidth: 300,
                            width: '25%',
                            dataSource: isc.DataSource.create({
                                ID: "menuDS",
                                dataFormat: 'json',
                                dataURL: /*[[ @{/dashboard/menus} ]]*/'/dashboard/menus',
                                fields: [
                                    { name: 'spacer', title: '', type: 'text', hidden: false, maxWidth: 30, minWidth: 30, width: 30 },
                                    { name: 'group', title: 'Group', type: 'text', hidden: true },
                                    { name: 'name', title: 'Name', type: 'text', hidden: false },
                                    { name: 'url', title: 'URL', type: 'text', hidden: true },
                                ],
                            }),
                            recordClick: function (_viewer, _record, _field, _fieldNum, _value, _rawValue) {
                                window.open(_record.url);
                            }
                        }),

                        //======================================================================
                        // Right - Dashboard Panels
                        isc.VLayout.create({
                            autoDraw: false,
                            width: '100%',
                            height: '100%',
                            layoutMargin: 0,
                            defaultLayoutAlign: 'center',
                            defaultResizeBars: 'marked',

                            showResizeBar: true,

                            members: [
                            ]
                        })
                    ]
                })
            ]
        });

        /*]]>*/
    </script>
</body>

</html>
